#quick-start-outer{
}

#quick-start-outer code{
    background-color: #efefef;
    padding:8px;
    margin-top:10px;
}

.install-aws-text{
    margin-bottom:20px
}

.install-cloudniite-text{
    margin-bottom:20px
}





