#quick-start-outer{
}

#quick-start-outer code{
    background-color: #efefef;
    padding:8px;
    margin-top:10px;
}

.install-aws-text{
    margin-bottom:20px
}

.install-cloudniite-text{
    margin-bottom:20px
}

.files-div {
    font-size: 100%;
    background: #efefef;
    padding:0px;
    display: inline-block;
    width: auto;
}

.comments {
    color: green;
}

.commentsAll {
    color: green;
}



