body {
    font-family: 'Roboto', sans-serif;
  }

#tutorial-outer {
}

#tutorial-outer code {
    background-color: #efefef;
    padding:8px;
    margin-top:10px;
}

.setup-aws-text {
    margin-bottom:20px;
    margin-top:20px;
}

.setup-aws-list {
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.yaml-div {
    font-size: 100%;
    background: #efefef;
    width: 20%;
    padding:0px;
    margin-left: 250px;
}

.lambda-div {
    font-size: 100%;
    background: #efefef;
    width: 24%;
    padding:0px;
    margin-left: 250px;
}

.server-div {
    font-size: 100%;
    background: #efefef;
    width: 46%;
    padding:0px;
    margin-left: 250px;
}

.comments {
    color: green;
}

.commentsAll {
    color: green;
}