.doc-outer{
    height:2150px;
    width:100%;
    background:white;
    display: inline-block;
}

.doc-nav-outer{
    width:230px;
    height:100%;
    background:#f7f7f7;
    margin-right:25px;
    float:left;
    clear: both;
}

.doc-nav-inner{
    width:150px;
    margin:auto;
    list-style: none;
}

.doc-nav-inner-list {
    padding-bottom: 40px;
}

.doc-nav-inner-list a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.doc-nav-inner-list a:hover{
    text-decoration: none;
    color: green;
}

.doc-nav-inner-list a:focus{
    text-decoration: none;
    color: green;
}

.list1 {
    padding-top: 50px;
}

.cloudniiteLogo {
    width: 90%;
}

.cloudniiteLogo:hover {
    width: 95%;
    cursor: pointer;
}

.doc-sections{
    display:inline;
}