.App {
  margin:0;
  padding:0;
}

.App-header {
  background:linear-gradient(to right,#1c1f2c);
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  margin-right:15px;
  margin-top:10px;
}

.App-intro {
  margin-right:15px;
  margin-top:15px;
}

.App-header ul {
  float:right;
  margin-top:-20px;
  margin-right:10px;
  clear: both;
  list-style: none;
}

.App-header li {
  float:right;
  margin-right:20px;
}

.App-header li a {
  font-size: large; 
}

.App-title {
  float:left;
  width: 10%;
  margin: 0;
  padding: 0;
}

.App-intro {
  font-size: large;
  margin-top: 25px;
  display: inline-block;
}

.cloudniiteLogoWhite {
  padding: 0;
  margin: 0;
  width: 80%;
}